* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}

/* Style the header */
header {
    background: #666;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
    height: 230px;
}

section {
    height: auto;
}

/* Create two columns/boxes that floats next to each other */
nav {
    float: left;
    width: 40%;
    padding: 20px;
    min-height: calc(100vh - 300px);
    overflow-wrap: break-word;
}

/* Style the list inside the menu */
nav ul {
    list-style-type: none;
    padding: 0;
}

article {
    float: left;
    padding: 20px;
    width: 60%;
    background-color: #f1f1f1;
    min-height: calc(100vh - 300px);
}

/* Clear floats after the columns */
section:after {
    content: "";
    display: table;
    clear: both;
}

/* Style the footer */
footer {
    background: #666;
    padding: 10px;
    text-align: center;
    color: white;
    height: 70px;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
    nav, article {
        width: 100%;
        height: auto;
    }
}