<!DOCTYPE html>
<html lang="en">
<head>
    <title>Course Planner</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="index.css">
</head>
<body>

<header>
    <h1>Course Planner</h1>
</header>

<section>
    <nav>
        <h4><label>Registered Courses</label></h4>
        <div id="courses"></div>
    </nav>

    <article>
        <form id="search-form">
            <h4><label>Query</label></h4>
            <input type="text" id="query"/>
            <button type="submit" id="bth-search">Search</button>
        </form>
        <div id="feedback"></div>
    </article>
</section>

<footer>
    <p>© UU Group 8</p>
</footer>

<script type="text/javascript" src="webjars/jquery/2.2.4/jquery.min.js"></script>
<script type="text/javascript" src="search.js"></script>

</body>
</html>
